[user]
	name = Don Ky
	email = don.d.ky@gmail.com
[push]
	default = matching
[alias]
	a = add .
	cm = commit -am
	pu = push origin master
	lb = for-each-ref --sort='-authordate:iso8601' --format='%(authordate:relative)%09%(refname:short)' refs/heads
[credential]
	helper = cache --timeout 86400
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
